.movie-head{
    margin-bottom: 5px;
}

.movie-head h6{
    font-family: "Mukta", sans-serif;
    font-size: 23px;
    padding-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    cursor: default;
}

.movie-box{
    padding: 5px;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin: 10px 0px;
    cursor: default;
    display: flex;
    flex-direction: row;
}

.movie-box img{
    width: 200px;
    height: 280px;
    transition: 0.5s all ease-in;
    border: 1px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.movie-box img:hover{
    transform: scale(1.02);
}

.movie-box .movie-box-inner .movie-box-texts{
    padding: 10px;
}

.movie-box .movie-box-inner .movie-box-texts h4{
    font-size: 30px;
    font-family: "Mukta", sans-serif;
}

.movie-box .movie-box-inner .movie-box-texts h6{
    font-size: 18px;
    font-family: "Ubuntu", sans-serif;
}

.movie-box .movie-box-inner .movie-box-texts p{
    font-size: 15px;
    font-family: "Ubuntu", sans-serif;
}

.movie-box .movie-box-inner .movie-box-texts a{
    cursor: default;
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
}

.movie-box .movie-box-inner .movie-box-genres{
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.movie-box .movie-box-inner .movie-box-genres a{
    width: fit-content;
    background-color: rgb(35, 255, 182);
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 0px 5px;
    font-family: "Ubuntu", sans-serif;
}

.movie-box .movie-box-inner .movie-box-genres .toggle-watch{
    margin: auto;
    background-color: rgb(81, 54, 234);
    color: white;
    border: 1.2px solid black;
    border-radius: 3px;
    padding: 5px 10px;
    font-family: "Ubuntu", sans-serif;
    transition: 0.2s all ease-in;
}

.movie-box .movie-box-inner .movie-box-genres .toggle-watch:hover{
    background-color: white;
    color: rgb(81, 54, 234);
    border: 1.2px solid rgb(81, 54, 234);
}

.movie-box .movie-box-inner .movie-box-genres .toggle-watch:focus{
    outline: 0;
}

.movie-box .movie-box-inner .movie-box-genres .watched{
    background-color: green;
}

.movie-box .movie-box-inner .movie-box-genres .watched:hover{
    color: green;
    border: 1.2px solid green;
}

.movie-box .movie-box-inner .movie-box-genres .unwatched{
    background-color: orangered;
}

.movie-box .movie-box-inner .movie-box-genres .unwatched:hover{
    color: orangered;
    border: 1.2px solid orangered;
}

.movie-box .movie-box-inner .movie-box-remove{
    display: flex;
    justify-content: end;
    padding-bottom: 20px;
    padding-top: 0px;
    padding-right: 65px;
}

.movie-box .movie-box-inner .movie-box-remove .remove-watch{
    background-color: rgb(81, 54, 234);
    color: white;
    border: 1.2px solid black;
    border-radius: 3px;
    padding: 5px 10px;
    font-family: "Ubuntu", sans-serif;
    transition: 0.2s all ease-in;
}

.movie-box .movie-box-inner .review{
    padding: 0px 20px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.movie-box .movie-box-inner .review .review-btn{
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 7px;
    padding: 3px 10px;
    font-family: "Ubuntu", sans-serif;
}

.movie-box .movie-box-inner .review .review-btn:hover{
    color: white;
    background-color: black;
}

.movie-box .movie-box-inner .review .review-btn:focus{
    outline: 0;
}

@media screen and (max-width: 600px){
    .movie-box{
        flex-direction: column;
    }

    .movie-box img{
        width: 100%;
    }

    .movie-box .movie-box-inner .movie-box-genres{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    
    .movie-box .movie-box-inner .movie-box-genres a{
        margin-bottom: 10px;
    }

    .movie-box .movie-box-inner .movie-box-genres .toggle-watch{
        margin: 0;
        width: fit-content;
    }
}